.messageItemLeft {
  width: fit-content;
  max-width: 70%;

  .messageItem {
    border-radius: 0 30px 30px 30px;
    border-bottom: solid 1px #c1c1c1;
    color: #383838;
  }

  .userName {
    color: mediumaquamarine;
  }
}

.messageItemRight {
  width: fit-content;
  margin-left: auto; 
  margin-right: 0;
  max-width: 70%;

  .messageItem {
    border-radius: 30px 0px 30px 30px;
    border-bottom: solid 1px #c1c1c1;
    color: #383838;
  }

  .userName {
    color: purple;
  }
}
